﻿@model FormViewModel

@{
  ViewData["Title"] = "Synpunktshantering";
}


<div class="col-md-12">
  <div>
    <h3>Formulär</h3>
    <div>
      <ul>
        <li>Avsändare:</li>
        <li>Mottagare:</li>
      </ul>
    </div>

  </div>
  <div class="card card-body bg-light">
    <form method="post" id="inputForm">
      <div class="form-group">
        <label asp-for="Rubrik">Rubrik:</label>
        <br />
        <input type="text" name="Rubrik" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Beskrivning">Beskrivning:</label>
        <br />
        <input type="text" name="Beskrivning" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Fornamn">Förnamn:</label>
        <br />
        <input type="text" name="Fornamn" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Efternamn">Efternamn:</label>
        <br />
        <input type="text" name="Efternamn" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Adress">Adress:</label>
        <br />
        <input type="text" name="Adress" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Postnummer">Postnummer:</label>
        <br />
        <input type="text" name="Postnummer" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Postadress">Postadress:</label>
        <br />
        <input type="text" name="Postadress" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Telefon">Telefon:</label>
        <br />
        <input type="text" name="Telefon" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Epost">Epost:</label>
        <br />
        <input type="text" name="Epost" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="OmbudFor">Ombud för:</label>
        <br />
        <input type="text" name="OmbudFor" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Aterkoppling">Återkoppling:</label>
        <br />
        <input type="text" name="Aterkoppling" class="form-control" />
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary pull-right">Send</button>
      </div>
    </form>
  </div>
</div>
